<div class="container-fluid">
  <div *ngIf="isError" class="row">
    <div class="col-md-12">
      <div>{{errorMessage}}</div>
    </div>
  </div>
  <div *ngIf="isBOMDetail" class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Part Name</th>
          <th scope="col">Supplier Name</th>
          <th scope="col">Supplier Address</th>
          <th scope="col">Dependent Supplier Name</th>
          <th scope="col">Dependent Supplier Address</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let supplier of requestBOMDetails.bom.supplier_details">
          <th scope="row">{{requestBOMDetails.id}}</th>
          <td>{{supplier.part_name}}</td>
          <td>{{supplier.supplier_name}}</td>
          <td>{{supplier.supplier_address}}</td>
          <td>{{supplier.dependant_supplier_name}}</td>
          <td>{{supplier.dependant_supplier_address}}</td>
        </tr>
        </tbody>
      </table>
      <div>Total Amount : {{requestBOMDetails.bom.amount | currency:"$"}}</div>
      <br>
      <div *ngIf="requestBOMDetails.status === 2 && userType === 'manufacturer'">
        <a (click)="requestBOMAccepted(requestBOMDetails.id)">
        <span class="glyphicon glyphicon-ok text-success" style="padding-left: 20px;padding-right: 20px;cursor: pointer"></span>
      </a>
        <a (click)="requestBOMRejected(requestBOMDetails.id)" style="padding-left: 30px;cursor: pointer">
          <span class="glyphicon glyphicon-remove text-danger"></span>
        </a>
      </div>
    </div>
  </div>
</div>
